@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {text-decoration: none;}

body, .mainHeader {
  font-family: 'Jost', sans-serif;
  background: #F7F8FD;
}

.mainHeader {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 20px 20px;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(60deg, #28A7ED, #A337F6, #E84D70);

  /* #E84D70, #A337F6, #28A7ED */

  & h1 {
    color: #FFF;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.25px;
    border-bottom: 1px solid #FFF;
  }

  & .navBar {
    display: flex;
    gap: 12px;
    align-items: center;

    & .navs {
      color: #FFF;
      font-family: Jost;
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.25px;

      &:hover {
        border-bottom: 2px solid #FFF;
      }
    }
  }

  & .logSign {
    display: flex;
    gap: 8px;
    align-items: center;

    & .logIn {
      border-radius: 5px;
      background: linear-gradient(60deg, #28A7ED, #A337F6, #E84D70);
      color: #fff;
      padding: 8px 12px;
      color: #F2F4FE;
      font-family: Jost;
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
      cursor: pointer;
      transition: transform 2s;

      &:hover {
        box-shadow: 0 0 20px 5px #28A7ED;
      }
    }

    & .signUp {
      border-radius: 5px;
      background: linear-gradient(60deg, #28A7ED, #A337F6, #E84D70);
      color: #fff;
      padding: 8px 12px;
      color: #F2F4FE;
      font-family: Jost;
      font-size: 14px;
      font-weight: 600;
      line-height: normal; 
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 20px 5px #28A7ED;
      }
    }
  }
}

.searchInput {
  gap: 12px;

  & input {
    width: 200px;
    border-radius: 10px;
    transition: transform 2s;
    text-align: start;
    border: none;
    padding: 4px 12px;

    /* &:hover {
      transform: rotateY(360deg);
    } */
  }

  & button {
    color: #FFF;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: transform 1s;
    animation: grow 2s ease-in-out;


    &:hover {
      transform: scale(1.5);
    }
  }
}

.loadingScreen {
  position: relative;
  top: 25%;
  left: 40%;
  width: 110px;
  height: 110px;
  background: #FFF;
  border: px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 111px;
  color: #28A7ED;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 20px #28A7ED;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.loadingScreen:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3pxx solid transparent;
  border-top: 5px solid #28A7ED;
  border-right: 5px solid #28A7ED;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}

@keyframes animate{
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 32px;
  width: 80%;
  margin: 48px auto;

  /* & .suggestions {
    position: relative;
  } KALDIRILDI - Header suggestion'ın arkasında kalıyor. */

  & .suggestionsMenu {
    display: flex;
    flex-direction: column;
    gap: 24px;

    & .feedbackBoard {
      padding: 62px 77px 24px 24px;
      /* background-image: url('/images/oval.png'); */
      background-repeat: round;
      background: linear-gradient(60deg, #28A7ED, #A337F6, #E84D70);
      border-radius: 10px;

      & h3 {
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.25px;
        cursor: pointer;
      }

      & p {
        color: #DDD8FC;
        font-size: 15px;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
      }
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 50px 12px 24px ;
  gap: 8px;
  border-radius: 10px;
  background: #FFF;

  & p {
    padding: 5px 16px;
    border-radius: 10px;
    background: #F2F4FF;
    margin-bottom: 12px;
    cursor: pointer;

    color: #4661E6;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
  }

  & p:hover {
    background-color: #4661E6;
    color: #FFF;
  }
}

.roadmapView {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background: #FFF;
  padding: 19px 24px;

  & .roadmap {

    & div {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    & h3 {
      color: #3A4374;
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.25px;   
      margin-bottom: 24px;
    }

    & p {
      color: #647196;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 8px;
    }
  }

  & .view {

    & h3 {
      color: #4661E6;
      font-size: 13px;
      font-weight: 600;
      line-height: normal;
      text-decoration-line: underline; 
      margin-bottom: 27px;
    }

    & p {
      color: #647196;
      text-align: right;
      font-size: 16px;
      font-weight: 700;
      line-height: normal; 
      margin-bottom: 8px;
    }
  }
}

.suggestionsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(60deg, #28A7ED, #A337F6, #E84D70);
  padding: 24px;
  margin-bottom: 24px;

  & .headerLeftSide {
    display: flex;
    gap: 30px;
    
    & .suggest {
      display: flex;
      align-items: center;
      gap: 16px;
  
      & h3 {
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.25px;
      }
    }
  
    & .sortBy {
      display: flex;
      gap: 4px;
      align-items: center;
  
      & p {
        color: #F2F4FE;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
      }
  
      & select {
        border: none;
        color: #FFF;
        background-color: transparent;
      }
    }
  }



  & button {
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    background: #AD1FEA;
    color: #FFF;
    cursor: pointer;

    color: #F2F4FE;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  & button:hover {
    background-color: #C75AF6;
  }
}

.suggestionsList {
  border-radius: 10px;
  background: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 28px 32px;
  margin-bottom: 16px;

  & .suggestion {
    display: flex;
    gap: 24px;

    & .rank {
      border-radius: 10px;
      background: #F2F4FE;
      padding: 12px 16px;
      text-align: center;
      height: 53px;
      cursor: pointer;
  
      & p {
        color: #3A4374;
        text-align: center;
        font-size: 13px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.181px;
      }
    }
  
    & .tipsAndTricks {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  
      & h3, a {
        color: #3A4374;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.25px; 
        margin-bottom: 4px;
      }
  
      & p {
        color: #647196;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 16px;
      }

      & .category {
        display: flex;
        gap: 8px;

        & h4 {
          border-radius: 10px;
          background: #F2F4FF;
          color: #4661E6;
          font-size: 13px;
          font-weight: 600;
          line-height: normal;
          padding: 5px 16px;
          text-transform: capitalize;
        }
    
        & h4:hover {
          background-color: #4661E6;
          color: #FFF;
        }
      }
  
    }
  }


  .comment {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
}

.suggestionsEmptyList {
  padding: 110px 200px;
  text-align: center;

  & img {
    margin-bottom: 48px;
  }

  & h3 {
    color: #3A4374;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.333px;
    margin-bottom: 16px;
  }

  & p {
    color: #647196;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 18px;
  }

  & button {
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    background: #AD1FEA;
    color: #FFF;
    cursor: pointer;
  }

  & button:hover {
    background-color: #C75AF6;
  }
}

.feedBackContainer {
  width: 730px;
  margin-left: 350px;

  & .feedBackHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  
    & .goBack {
      display: flex;
      gap: 8px;
      width: 10px;
    }

    & button {
      border-radius: 10px;
      background: #4661E6;
      color: #FFF;
      padding: 16px 24px;
      border: none;
    }

    & button:hover {
      border-radius: 10px;
      background: #7C91F9;
    }
  }
}

.detailContainer {
  width: 50%;
  margin: 48px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;

  & .detailHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }
}


.comments {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 32px 40px;
  border-radius: 10px;
   

  & h1 {
    color: #3A4374;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.25px;
  }


  & .comment {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    border-bottom: 1px solid #8C92B3;
    padding: 0 0 24px;

    & span {
      background-color: #000;
      padding: 12px 20px;
      border-radius: 22px;
    }


    & .commentContent {
      display: flex;
      flex-direction: column;
      gap: 18px;

      & p {
        color: #647196;
        font-family: Jost;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

      }

      & .user {
        

        & h2 {
          color: #3A4374;
          font-family: Jost;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -0.194px;

        }

        & p {
          font-size: 14px;
        }
      }
    }
  }
}

.addComment {
  background: #fff;
  padding: 24px 32px 40px;

  & h1 {
    color: #3A4374;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.25px;
    margin-bottom: 24px;
  }

  & textarea {
    text-align: start;
    width: 100%;
    height: 80px;
    background: #F7F8FD;
    border: none;
    border-radius: 5px;

    padding: 12px;

    color: #8C92B3;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    outline-color: #4661E6;
    margin-bottom: 24px;
  }

  & .formBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
      color: #647196;
      font-family: Jost;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    & button {
      border-radius: 10px;
      background: #AD1FEA;
      padding: 12px 24px;
      border: none;

      color: #F2F4FE;
      font-family: Jost;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

.footerMenu {
  width: 80%;
  margin: 0 auto;
  padding: 20px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(60deg, #E84D70, #A337F6, #28A7ED);

  & .footerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    & .ttLogo {

      border: 1px solid #FFF;
      padding: 5px 10px;
      border-radius: 5px;

      & h1 {
        color: #FFF;
        font-family: Jost;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.25px; 
      }
    }

    & .navBar {
      display: flex;
      gap: 12px;
      align-items: center;
  
      & .navs {
        color: #FFF;
        font-family: Jost;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.25px;
  
        &:hover {
          border-bottom: 2px solid #FFF;
        }
      }
    }

    & .footerSocialMedia {
      display: flex;
      gap: 16px;
      
      & img {
        cursor: pointer;
        width: 16px;
      }
    }
  }

  & .footerBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .policy {
      display: flex;
      gap: 12px;
      cursor: pointer;
      align-items: center;

      & .policyLink {
        color: #0a0909;
        font-family: Jost;
        font-size: 10px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.25px; 
      }
    }

    & .subscribe {
      display: flex;
      gap: 8px;

      & input {
        border: none;
        border-radius: 5px;
        padding: 8px 12px;
      }

      & button {
        border-radius: 5px;
        background: linear-gradient(60deg, #E84D70, #A337F6, #28A7ED);
        padding: 8px 12px;
        border: none;
        color: #F2F4FE;
        font-family: Jost;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        transition: transform 2s;

        &:hover {
          background-color: #C75AF6;
          /* transform: rotateY(360deg); */
        }
      }
    }
  }
}

.containerLoginPage {
  width: 80%;
  height: 80vh; 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
  & .signInPage {
    padding: 40px;
    width: 300px;
    background: #D2E3C8;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;

    & h1 {
      text-align: center;
      color: #1B4242;
      font-family: Jost;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.25px;
      margin-bottom: 12px;
    }

    & .loginOption {
      display: flex;
      gap: 8px;
      justify-content: center;
      margin-bottom: 12px;
    }

    & p {
      text-align: center;
      color: #1B4242;
      font-family: Jost;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.25px;
      margin-bottom: 12px;
    }

    & form {
      display: flex;
      flex-direction: column;

      & input {
        padding: 4px 0;
        border: none;
        margin-bottom: 8px;
      }

      & button {
        padding: 4px 0;
        border: 1px solid #D2E3C8;
        background: #FFF;
        cursor: pointer;
        margin-bottom: 12px;

        text-align: center;
        color: #1B4242;
        font-family: Jost;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.25px;
        margin-bottom: 12px;

        &:hover {
          border: 1px solid #FFF;
          background-color: #D2E3C8;
          color: #FFF;
        }
      }
    }
  }

  & .signUpPage {
    padding: 42px;
    width: 300px;
    background: #D2E3C8;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;

    & h1 {
      text-align: center;
      color: #1B4242;
      font-family: Jost;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.25px;
      margin-bottom: 12px;
    }

    & .loginOption {
      display: flex;
      gap: 8px;
      justify-content: center;
      margin-bottom: 12px;
    }

    & p {
      text-align: center;
      color: #1B4242;
      font-family: Jost;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.25px;
      margin-bottom: 12px;
    }

    & form {
      display: flex;
      flex-direction: column;

      & input {
        padding: 4px 0;
        border: none;
        margin-bottom: 8px;
      }

      & button {
        padding: 4px 0;
        border: 1px solid #D2E3C8;
        background: #FFF;
        cursor: pointer;
        margin-bottom: 12px;

        text-align: center;
        color: #1B4242;
        font-family: Jost;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.25px;
        margin-bottom: 12px;

        &:hover {
          border: 1px solid #FFF;
          background-color: #D2E3C8;
          color: #FFF;
        }
      }
    }
  }

  & .loginPageText {
    display: flex;
    /* position: absolute; */
    border-radius: 5px;
    height: 390px;

    & .signInText {
      left: 340px;
      height: 390px;
      position: absolute;
      width: 300px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background: linear-gradient(60deg, #D2E3C8, #86A789, #739072, #4F6F52);

      & h1 {
        text-align: center;
        color: #1B4242;
        font-family: Jost;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.25px;
        margin-bottom: 12px;
      }

      & h3 {
        text-align: center;
        color: #1B4242;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.25px;
        margin-bottom: 12px;
      }

      & button {
        padding: 4px 0;
        border: 1px solid #D2E3C8;
        background: #FFF;
        cursor: pointer;
        margin-bottom: 12px;

        text-align: center;
        color: #1B4242;
        font-family: Jost;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.25px;
        margin-bottom: 12px;

        &:hover {
          border: 1px solid #FFF;
          background-color: #D2E3C8;
          color: #FFF;
        }
      }
    }

    & .signUpText {
      position: absolute;
      left: 639px;
      width: 300px;
      height: 390px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background: linear-gradient(60deg, #4F6F52, #739072, #86A789, #D2E3C8);

      & h1 {
        text-align: center;
        color: #1B4242;
        font-family: Jost;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.25px;
        margin-bottom: 12px;
      }

      & h3 {
        text-align: center;
        color: #1B4242;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.25px;
        margin-bottom: 12px;
      }

      & button {
        padding: 4px 0;
        border: 1px solid #D2E3C8;
        background: #FFF;
        cursor: pointer;
        margin-bottom: 12px;

        text-align: center;
        color: #1B4242;
        font-family: Jost;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.25px;
        margin-bottom: 12px;

        &:hover {
          border: 1px solid #FFF;
          background-color: #D2E3C8;
          color: #FFF;
        }
      }
    }
  }
}